<div class="page-container">
  <div class="navbar-container"><%= render "shared/banner" %></div>
  <div class="content-container">
    <div class="tasks-background">
    <h3>Tasks for today:</h3>
    <div class="tasks-wrapper">
      <% if @incomplete_tasks_today.present? %>


          <% @incomplete_tasks_today.each do |task| %>

          <% if task.done == false %>
            <div class="task-card" style="margin-bottom: 20px;">

              <div class="wrapper-task">

                <div class="plant-task-name">

                  <% if task.task_type == 'watering' %>
                    <i class="fa-solid fa-droplet" style="margin: 0 15px;"></i>
                  <% elsif task.task_type == 'fertilizing' %>
                    <i class="fa-solid fa-poop" style="margin: 0 15px;"></i>
                  <% end %>

                  <%if task.plant.nickname != nil %>
                    <h5><%= task.plant.nickname %></h5>
                  <%else%>
                    <h5><%= task.plant.scientific_name[0..16] %>...</h5>
                  <%end%>

                  <% if task.delayed %>
                    <%=image_tag 'attention.svg', data: { bs_toggle: 'tooltip', bs_placement: 'right' }, title: 'This task is delayed!' %>
                  <%end%>

                </div>

                <%=link_to mark_done_task_path(task), data: {turbo_method: :patch} do%>
                  <div class="done-btn">
                    <%=image_tag 'done.svg'%>
                  </div>
                <%end%>

              </div>

            </div>
          <%end%>
          <% end %>

      <% else %>
        <div class= 'scissors'>
          <%= image_tag 'scissors.svg' %>
        </div>
      <% end %>

  <%# <h3>Upcoming tasks (next 7 days):</h3>
    <% if @tasks_upcoming.present? %>
    <%# <div class="task-card">
    <%#   <% @tasks_upcoming.each do |task| %>
      <%#    <% if task.task_type == 'watering' %>
      <%#      <i class="fa-solid fa-droplet" style="margin: 0 15px;"></i>
      <%#    <% elsif task.task_type == 'fertilizing' %>
        <%#    <i class="fa-solid fa-seedling" style="margin: 0 15px;"></i>
      <%#   <% else %>
        <%#    <%= task.task_type.capitalize %>
      <%#    <% end %>
    <%#     <%= task.plant.nickname %><%# <span style="margin-right: 15px;"></span>
      <%#   <%= task.date.strftime('%a, %b %e') %>
    <%#   <% end %>
  <%#   </div>
    <% else %>
  <%#    <p>No upcoming tasks in the next 7 days.</p>
    <% end %>
  </div>
  </div>


</div>
  <div class="footer-container">
    <div class="navbar navbar-light">
      <div class="container-navbar">
        <%=link_to root_path do%>
          <%=image_tag 'home.svg', class:"icon-navbar"%>
        <%end%>
        <%=link_to plants_search_path do%>
          <%=image_tag 'add.svg', class:"icon-navbar"%>
        <%end%>
        <%=link_to helper_path do%>
          <%=image_tag 'helper.svg', class:"icon-navbar"%>
        <%end%>
      </div>
    </div>

  </div>
</div>
