<div class="banner">
  <div class="container">
    <h1 class="center">Green Thumb 🍃</h1>
  </div>
</div>

<div class="center-container">
  <h3>Tasks for today:</h3>
  <% if @incomplete_tasks_today.present? %>


      <% @incomplete_tasks_today.each do |task| %>

      <% if task.done == false %>
        <div class="task-card" style="margin-bottom: 20px;">
          <% if task.task_type == 'watering' %>
            <i class="fa-solid fa-droplet" style="margin: 0 15px;"></i>
          <% elsif task.task_type == 'fertilizing' %>
            <i class="fa-solid fa-seedling" style="margin: 0 15px;"></i>
          <% end %>
          <%= task.plant.nickname %>
          <%= link_to 'Mark as done', mark_done_task_path(task), class: "btn-small my-1", data: {turbo_method: :patch} %>
        </div>
       <%end%>
      <% end %>

  <% else %>
    <p>No tasks for today.</p>
  <% end %>

 <%# <h3>Upcoming tasks (next 7 days):</h3>
  <% if @tasks_upcoming.present? %>
   <%# <div class="task-card">
   <%#   <% @tasks_upcoming.each do |task| %>
    <%#    <% if task.task_type == 'watering' %>
    <%#      <i class="fa-solid fa-droplet" style="margin: 0 15px;"></i>
    <%#    <% elsif task.task_type == 'fertilizing' %>
      <%#    <i class="fa-solid fa-seedling" style="margin: 0 15px;"></i>
     <%#   <% else %>
      <%#    <%= task.task_type.capitalize %>
    <%#    <% end %>
   <%#     <%= task.plant.nickname %><%# <span style="margin-right: 15px;"></span>
     <%#   <%= task.date.strftime('%a, %b %e') %>
   <%#   <% end %>
 <%#   </div>
  <% else %>
<%#    <p>No upcoming tasks in the next 7 days.</p>
  <% end %>
 </div>
 </div>
