<div class="navbar-container">
  <div class="banner">
    <div class="container">
      <h6>Forgot your password?</h6>
    </div>
  </div>
</div>

<div class="password-container">
  <p>We will send you instructions to reset your password</p>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
