<div class="navbar navbar-light">
  <div class="container-navbar">

    <% if user_signed_in? %>
      <%=link_to root_path do%>
        <%=image_tag 'home.svg', class:"icon-navbar"%>
      <%end%>
      <%=link_to '#' do%>
        <%=image_tag 'calendar.svg', class:"icon-navbar"%>
      <%end%>
      <%=link_to new_reminder_path do%>
        <%=image_tag 'bell.svg', class:"icon-navbar"%>
      <%end%>
      <%=link_to '#' do%>
        <%=image_tag 'helper.svg', class:"icon-navbar"%>
      <%end%>

    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>

    <% end %>

  </div>
</div>
