<div class="page-container calendar-background">
  <div class="navbar-container">
    <div class="banner">
      <div class="container">
        <h6>My calendar</h6>
      </div>
    </div>
  </div>


  <div class="content-container">
    <div class="my-content-wrapper">

      <%= month_calendar events: @tasks do |date, tasks| %>
        <%= link_to date.day, '#', data: { bs_toggle:"modal", bs_target:"#exampleModal"} %>
        <% tasks.each do |task| %>
          <div class="task-calendar">
            <p>
              <%= task.id %>
              <%= task.plant.nickname %>
              <%if task.task_type == 'fertilizing' %>
                <i class="fa-solid fa-seedling" style="margin: 0;"data-bs-toggle="tooltip" data-bs-placement="bottom" title="Fertilize it!"></i>
              <%elsif task.task_type == 'watering' %>
                <i class="fa-solid fa-droplet" style="margin: 0;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Water it!"></i>
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>


      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              Hi
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
