<div class="page-container">
  <div class="navbar-container">
    <div class="banner">
      <div class="container">
        <h6>My plants</h6>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="background-landingpage">

      <div class="search-for-new-plant">
        <%= form_tag(dashboard_path, method: :get) do %>
          <div class="search-row">
            <%= text_field_tag(:query, params[:query], placeholder: "Search through your plants...", class: "search-field", autocomplete: "off") %>
            <button type="submit" class="search-submit-btn">
              <%= image_tag("search.svg", alt: "Search") %>
            </button>
          </div>
        <% end %>
      </div>


      <%= link_to destroy_user_session_path, class: "log-out", data: { turbo_method: :delete } do %>
        <%= image_tag 'log_out.svg' %>
      <% end %>

      <% if !@plants.empty? %>
        <div class="home-cards">
          <% @plants.each do |plant| %>
            <%= link_to plant_path(plant), class: "card-link-home" do %>
              <div class="sideway-plant-card">
                <% if plant.photo.attached? %>
                  <%= cl_image_tag plant.photo.key, alt: plant.nickname %>
                <% else %>
                  <%= image_tag plant.image_url, alt: plant.nickname %>
                <% end %>

                <div class="plant-info">
                  <% if plant.nickname.nil? || plant.nickname == '' %>
                    <h2><%= plant.scientific_name %></h2>
                  <% else %>
                    <h2><%= plant.nickname %></h2>
                    <p>(<%= plant.scientific_name %>)</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= image_tag 'pot.svg', class: "pot mx-auto" %>
      <% end %>
    </div>
  </div>
  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
