<div class="page-container">
  <div class="navbar-container">
    <div class="banner">
      <div class="container">
        <h6>My helper</h6>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="background-search-page">
      <% if @content.present? %>
        <p><%= markdown(@content) %></p>
      <% end %>

    <div class="ask-helper">
    <%= form_with(url: helper_path, method: :get) do |form| %>
      <div class="form-group">
        <%= form.text_area :user_question, class: "form-control ask-field", placeholder: "Ask me anything about your plants...", rows: 2 %>
      </div>
      <%= form.submit "Ask", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>

  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
