<%= render "shared/banner" %>

<div class="edit_container container">
<h1><B>EDIT YOUR PLANT</B></h1>
<div class="edit_form">

<%= simple_form_for @plant do |f| %>
  <%= f.input :nickname%>
  <%= f.select :actual_sun_exposure, ['shade', 'part shade', 'full sun'], { selected: @plant.actual_sun_exposure }, { class: "form-control" } %>
  <%= f.button :button, class: "done-bt", value: "" do %>
    Confirm
  <% end %>
<% end %>
</div>
</div>
