<div class="page-container">
  <div class="navbar-container">

    <div class="banner">
      <div class="container">
        <h6>Add a plant</h6>
      </div>
    </div>

  </div>
  <div class="content-container">
    <div class="background-search-page">

        <div class="search-for-new-plant">
          <%= form_tag(plants_search_path, method: :get) do %>
            <div class="search-row">
              <%= text_field_tag(:query, params[:query], placeholder: "Search for a plant to add...", class:"search-field") %>
              <button type="submit" class="search-submit-btn">
                <%= image_tag("search.svg", alt: "Search") %>
              </button>
            </div>
          <% end %>
        </div>
      <% if @response_plants %>
        <div class="radio-buttons-search">

        <h5>Click on a plant and then confirm your choice:</h5>

          <%= simple_form_for @plant do |f| %>

            <%= f.collection_radio_buttons :id, @response_plants, :first, :second, item_wrapper_class: 'span-class' do |b| %>

              <%= b.radio_button%>
              <%= b.label do %>

                <%= image_tag(b.object.last, class: 'plant-image') %>
                <div class="text">
                  <%= b.object.second %>
                </div>
              <% end %>
            <% end %>
            <div class = "search-submit-btn">

              <%= f.submit '✔', class:'check-on-search'%>

            </div>
          <% end %>
        </div>
      <%else%>
        <div class="cutter">
          <%= image_tag 'cutter.svg'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
