<%= render "shared/banner" %>

<div class="background-search-page">

    <div class="search-for-new-plant">
      <%= form_tag(plants_search_path, method: :get) do %>
        <div class="search-row">
          <%= text_field_tag(:query, params[:query], placeholder: "Search for a plant to add...", class:"search-field") %>
          <button type="submit" class="search-submit-btn">
            <%= image_tag("search.svg", alt: "Search") %>
          </button>
        </div>
      <% end %>
    </div>
  <% if @response_plants %>
    <div class="radio-buttons-search">

      <%= simple_form_for @plant do |f| %>

        <%= f.collection_radio_buttons :id, @response_plants, :first, :second, item_wrapper_class: 'span-class' do |b| %>

          <%= b.radio_button%>
          <%= b.label do %>

            <%= image_tag(b.object.last, class: 'plant-image') %>
            <div class="text">
              <%= b.object.second %>
            </div>
          <% end %>
        <% end %>
        <div class = "search-submit-btn">

          <%= f.submit '✔', class:'check-on-search' %>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="navbar navbar-light">
  <div class="container-navbar">
    <%=link_to root_path do%>
      <%=image_tag 'home.svg', class:"icon-navbar"%>
    <%end%>
    <%=link_to tasks_path do%>
      <%=image_tag 'bell.svg', class:"icon-navbar"%>
    <%end%>
    <%=link_to helper_path do%>
      <%=image_tag 'helper.svg', class:"icon-navbar"%>
    <%end%>
  </div>
</div>
