<div class="details-card">

  <%= image_tag @plant.image_url, class:"plant-image"%>

  <div class="details-infos">

    <div class='text'>
      <% if @plant.nickname!=nil %>
        <div class='name'>
          <h1>
            <b><%= @plant.nickname %></b>
            <% if @plant.happiness == 0 %>
              <%=image_tag 'sad.svg', class:"icon-happiness"%>
            <% elsif @plant.happiness == 1 %>
              <%=image_tag 'indifferent.svg', class:"icon-happiness"%>
            <% elsif @plant.happiness == 2 %>
              <%=image_tag 'happy.svg', class:"icon-happiness"%>
            <% end %>
          </h1>

        </div>
        <p class="text_gray push">(<%= @plant.scientific_name %>)</p>
      <% else %>
        <div class='name'>
          <h1>
          <%= @plant.scientific_name %>
            <% if @plant.happiness == 0 %>
              <%=image_tag 'sad.svg', class:"icon-happiness"%>
            <% elsif @plant.happiness == 1 %>
              <%=image_tag 'indifferent.svg', class:"icon-happiness"%>
            <% elsif @plant.happiness == 2 %>
              <%=image_tag 'happy.svg', class:"icon-happiness"%>
            <% end %>
          </h1>
        </div>
      <% end %>
      <div class="suggested">
        <h3>About:</h3>
        <p class="text_gray"><i class="fa-solid fa-notes-medical"></i> care level: <%= @plant.care_level %></p>
        <% if @plant.suggested_sunlight == 'shade' %>
          <p class="text_gray"><i class="fa-solid fa-cloud"></i> prefers: shade </p>
        <% elsif @plant.suggested_sunlight == 'part shade' %>
          <p class="text_gray"><i class="fa-solid fa-cloud-sun"></i> prefers: part shade </p>
        <% elsif @plant.suggested_sunlight == 'full sun' %>
          <p class="text_gray"><i class="fa-solid fa-sun"></i> prefers: full sun </p>
        <%end%>
        <p class="text_gray"><i class="fa-solid fa-droplet"></i> water every: <%=@plant.suggested_watering_frequency_in_days%> days </p>
        <p class="text_gray"><i class="fa-solid fa-seedling"></i> fertilize every: <%=@plant.suggested_fertilizing_frequency_in_days%> days </p>
      </div>
      <div class="currently">
        <div class='sun'>
          <h3>Currently:</h3>

        </div>

        <% if @plant.actual_sun_exposure == 'shade' %>
          <p class="text_gray"><i class="fa-solid fa-cloud"></i> in: shade </p>
        <% elsif @plant.actual_sun_exposure == 'part shade' %>
          <p class="text_gray"><i class="fa-solid fa-cloud-sun"></i> in: part shade </p>
        <% elsif @plant.actual_sun_exposure == 'full sun' %>
          <p class="text_gray"><i class="fa-solid fa-sun"></i> in: full sun </p>
        <%end%>
        <%if @last_watered%>
          <p class="text_gray"><i class="fa-solid fa-droplet"></i> last watered: <%= @last_watered %> </p>
        <%end%>
        <%if @last_fertilized%>
          <p class="text_gray"><i class="fa-solid fa-seedling"></i> last fertilized: <%= @last_fertilized %></p>
        <%end%>
        <% if @plant.room!=nil %>
          <p class="text_gray"><i class="fa-solid fa-house"></i> in: <%= @plant.room %> </p>
        <% end %>

      </div>

      <%=link_to edit_plant_path(@plant) do%>
        <div class="edit-btn">
          <%=image_tag 'edit.svg'%>
        </div>
      <%end%>

      <div class="buttons-bottom">

        <%=link_to plant_path(@plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure? This action can't be reversed!"} do%>
          <div class="delete-btn">
            <%=image_tag 'delete.svg'%>
          </div>
        <%end%>

    </div>
  </div>

</div>

<div class="navbar navbar-light">
  <div class="container-navbar">
    <%=link_to root_path do%>
      <%=image_tag 'home.svg', class:"icon-navbar"%>
    <%end%>
    <%=link_to tasks_path do%>
      <%=image_tag 'bell.svg', class:"icon-navbar"%>
    <%end%>
     <%=link_to plants_search_path do%>
      <%=image_tag 'add.svg', class:"icon-navbar"%>
    <%end%>
    <%=link_to helper_path do%>
      <%=image_tag 'helper.svg', class:"icon-navbar"%>
    <%end%>
  </div>
</div>
